.wlc {
  font-family: "Brush Script MT", cursive;
  text-align: center;
  font-size: 75px;
  color: gold;
  margin: 10px 5px 10px 5px;
  padding: 10px;
}
body {
  color: white;
  background: linear-gradient(to right, #333, rgb(202, 172, 0), #333);
}
nav {
  width: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 3000;
}
.nav-items {
  margin: 0 10px 0 10px;
  font-size: 20px;
  color: #333;

  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;

  min-width: 300px;
  gap: 25px;
  border: 1px gold;
  grid-auto-columns: auto;
  border-radius: 15px;
}

#Burgers,
#Chicken,
#Tortillas,
#Meals,
#Spicy,
#Potatos,
#Crunchies {
  color: rgb(0, 0, 0);

  text-align: center;
  font-size: 25px;
  border: solid 3px #333;
  border-radius: 10px;
  min-height: 200px;
  width: 300px;
}
ins {
  color: black;

  border-radius: 5px;
}
.content {
  color: aliceblue;
  font-size: 20px;
  align-self: center;
  align-content: center;
  justify-content: center;
  background: none;
  padding: 20px;
  margin: 1px;
}
.footer {
  position: relative;
  background-color: azure;
  color: black;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  bottom: 0;
  right: 0;
}

.linkContainer {
  display: flex;
border-radius: 50%;
  flex-direction: row;
  position: fixed;
  bottom: 20px;
  right: 20px;
  gap: 5px;
}

img {
  border-radius: 50%;
  height: 60px;
}

.footer {
  position: relative;
  background-color: azure;
  color: black;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  bottom: 0;
  right: 0;
}
